{% extends "base.html" %} {% block extrahead %} {# JSON Feed #} {% if "rss" in
config.plugins %}
<link
  rel="alternate"
  type="application/feed+json"
  title="JSON feed"
  href="{{ 'feed_json_created.json' | url }}"
/>
<link
  rel="alternate"
  type="application/feed+json"
  title="JSON feed of updated content"
  href="{{ 'feed_json_updated.json' | url }}"
/>
<meta http-equiv="x-ua-compatible" content="IE=edge" />
<meta
  name="viewport"
  content="width=device-width,initial-scale=1,shrink-to-fit=no"
/>
<meta name="robots" content="index, follow" />
<meta name="msapplication-TileColor" content="#2e2e33" />

<!-- <script -->
<!--   type="text/javascript" -->
<!--   src="../node_modules/tw-elements/dist/js/tw-elements.umd.min.js" -->
<!-- ></script> -->
<meta property="og:title" content="Shaishav Kumar" />
<meta property="og:type" content="website" />
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "Shaishav Kumar",
    "url": "https://blog.shaishav.kr",
    "description": "",
    "thumbnailUrl": "https://blog.shaishav.kr/favicon.ico",
    "sameAs": [
      "https://github.com/wiresurfer",
      "https://twitter.com/wiresurfer",
      "https://www.linkedin.com/in/shaishavkr/"
    ]
  }
</script>

{% endif %} {% endblock %}
