site_name: wiresurfer's library | © shaishav.kr
site_description:
  Hello there! I'm Shaishav Kr , often known by my internet alias @wiresufer
site_url: https://blog.shaishav.kr
copyright: Copyright &copy; 2012 - 2024 Shaishav Kr | @wiresurfer

nav:
  - Home: "index.md"
  - About: 'https://shaishav.kr"  target="_blank'
  - ...
  - Photography: 'https://photos.shaishav.kr/grid"  target="_blank'

exclude:
  #- 'Assets.*'
  - "/templates"

theme:
  name: material
  logo: assets/images/wiresurfer-logo.jpeg
  favicon: assets/images/favicon.png
  custom_dir: overrides
  font:
    code: Roboto Mono
  features:
    - navigation.instant
    - navigation.instant.progress
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    # - navigation.sections
    - navigation.path
    - navigation.indexes
    - toc.follow
    - content.code.copy

  palette:
    scheme: slate
    primary: red

plugins:
  - search
  - pub-debugger
  - awesome-pages:
      collapse_single_pages: false
  - tags:
      tags_file: tags.md
  - exclude:
      glob:
        - "*excalidraw.md*"
        - "Draft/*"
  - toggle-sidebar
  - pub-social
  - blog:
      blog_dir: .
      post_dir: "{blog}/Articles"
      post_url_date_format: yyyy/MM/dd

      archive: true
      archive_name: Archive
      archive_url_date_format: yyyy
      archive_date_format: yyyy

      categories: true
      categories_name: "Categories"

      authors: true
      authors_file: "{blog}/.authors.yaml"
      pagination_per_page: 16
  - rss:
      feeds_filenames:
        json_created: feed.json
        json_updated: feed-updated.json
        rss_created: rss.xml
        rss_updated: rss-updated.xml
      json_feed_enabled: true
      rss_feed_enabled: true
      url_parameters:
        utm_source: "documentation"
        utm_medium: "RSS"
        utm_campaign: "feed-syndication"
        #date_from_meta:
        #as_creation: "date"
        #as_update: false
        #datetime_format: "%Y-%m-%d"
        #default_timezone: Asia/Kolkata
      categories:
        - tags # will look into page.meta.tags
        - categories # will also look into page.meta.categori
  - social:
      enabled: true 
      cards_layout_options:
        background_image: assets/images/parallax-bg.jpg
  #- pub-blog
  #- git-revision-date-localized:
  #    type: timeago
  #- mkdocs-newsletter
  #- pub-meta
  #- pub-minifier
  #- pub-obsidian

extra:
  generator: false
  calendly_url: https://calendly.com/shaishav-armoryshield/quick-meet
  social:
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/shaishavkr
      name: LinkedIn @shaishavkr
    - icon: fontawesome/brands/instagram
      link: https://instagram.com/wiresurfer
      name: Instagram @wiresurfer
    - icon: fontawesome/brands/github
      link: https://github.com/wiresurfer
      name: Github @wiresurfer
    - icon: fontawesome/brands/x-twitter
      link: https://twitter.com/wiresurfer
      name: X @ wiresurfer

extra_css:
  - "assets/css/fonts.css"
  - "assets/css/variables.css"
  - "assets/css/base.css"
  - "assets/css/typography.css"
  - "assets/css/navigation.css"
  - "assets/css/blog-cards.css"
  - "assets/css/article.css"
  - "assets/css/site.css"
  - "assets/css/responsive.css"
  # Tailwind JIT: Run 'npm run build:css' then add: - "assets/css/tailwind.css"
  # Removed: tailwing.min.css (1.9MB), override.css (consolidated), list.css (→ blog-cards.css)

extra_javascript:
  - "assets/js/toc.js"
pub-obsidian:
  backlinks:
    enabled: true
  callouts:
    enabled: true
  comments:
    enabled: true
    inject_as_html: false
  links:
    wikilinks_enabled: true
    img_lazy: true

markdown_extensions:
  - admonition
  - pymdownx.details
  - attr_list
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - tables
  - footnotes
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - toc:
      title: On This Page
